body {
  background-color: #D7DBDD;
  font-family: 'Lato'; /* OPTIONAL: Google Fonts - base font */
  font-weight: 400;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather Sans'; /* OPTIONAL: Google Fonts - title font */
  font-weight: bold;
  color: rgba(92, 115, 242, 1) ;
}

/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 5px;
}

/* Links */
a {
  color: black;
  font-weight: bold;
}

a:hover,
a:focus {
  color: black;
  text-decoration: none;
  outline: 1;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*---------------------------------------------------
  SECTION WRAPS
---------------------------------------------------*/

/* Header Wrap */
.header {
  background: white no-repeat center top;
  padding-top:140px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 400px;
  width: 100%;

  -webkit-background-size: 70%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header h1 {
  font-size: 80px;
  color: white;
  background: url(../images/bg.png);
}

.header h3 {
  font-size: 20px;
  color: black;
}

.header h3 a {
  color: black;
}

/* About Wrap */
.about {
  background: #D7DBDD;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
}

.about h5, p {
  color: black;

}

.about i {
  color: white;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}

.footer {
  background: url(../images/bg.png);
  padding-top: 0px;
  padding-bottom: 0px;
}

.footer p {
  color: #D7DBDD;
}

.footer h5 {
  color: #D7DBDD;
}

.footer t {
  font-weight: 700;
}

/* social icons: */
.footer i {
  padding-right: 8px;
  /*color: #1abc9c;*/
}

/* Global Values */

.desc {
  padding-top: 50px;
}

.desc p {
  color: #D7DBDD;
}

.desc t {
  color: #D7DBDD;
  font-weight: 700;
}

.desc imp {
  padding: 6px;
  color: white;
  background: #D7DBDD;
}

.desc more {
  color: #D7DBDD;
}


sm {
  font-size: 12px;
}

.desc .col-lg-3 {
  text-transform: uppercase;
  color: white
}

.container .row p.tight {
  margin-bottom: 10px;
}
